#root {
    max-width: min(1280px, 90vw);
    height: 80vh;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.task-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: min(90vw, 600px);
}

h1 {
    color: rgb(var(--color-secondary-blue));
    text-align: left;
    margin: 0 0 0.8rem 0;
}
